@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Nunito:wght@200&display=swap');
    :root{
        background-color: #F0F1F3;
    
    }
    body {
        margin: 0;
        padding: 0;
        
    }
    