@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Nunito:wght@200&display=swap');
body{
  padding: 0;
  margin: 0;
}
.seccion1{
  display: flex;
  width: 100%;
  
}
.bar1{
  display: flex;
 
}
.hola{
  display: flex;
  position: relative;
  border: 2px solid;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
}
.grafica{
  margin-top: 10px;
  width: 100%;
  height: 290px;
  border: 2px solid red;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  

}
.avisos{
    display: flex;
   padding-top:10px ;
   /* border: 2px solid green; */ 
    width: 100%;
    height: 20%;
    
}
.citas{
   width: 100%;
   
   margin: 5px;
   display: flex;
   background: #FFF;
   border-radius: 8px;

   
}
.Citas a{
    color: var(--grey-grey-600, #5D6679);
    font-size: 19px;
    font-style: normal;
    font-weight: 550;
    line-height: 24px; /* 150% */
    font-family: 'Inter', sans-serif;
  
}
.inventario{
  width: 100%;
 border: 2px solid;
  margin: 5px;
  display: flex;
  background: #FFF;
  border-radius: 8px;
}
.citas-pendientes{
  
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;

}
.linea{
  border: 1px solid #F0F1F3;
  height: 100px;
  margin-top: 30px;
}
.citas-pendientes1{

  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;

}
.inf{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
  margin-top: 10px;
}
.citas-inf{
  text-align: center;
  
}
.Citas{
  display: flex;
  align-items: center;
  height: 30px;
  width: 200px;
  position: absolute;
  z-index: 2;
  margin-left: 15px;
  margin-top: 10px;
  
}
.titulos-citas{
  position: relative;
}
.inf h1{
  color: var(--grey-grey-600, #5D6679);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    margin-top: 30px;
}
.inf-a{
  color: var(--grey-grey-600, #5D6679);
}

@media (max-width: 768px) {
  .hola{
    
    width: 100%;
    padding-left: 0px;
   
  }
}