@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Nunito:wght@200&display=swap');
body{
  padding: 0;
  margin: 0;
}
.seccion1{
  display: flex;
  width: 100%;
}
.bar1{
  display: flex;
 
}
.hola, .hola-true{
  display: flex;
  position: relative;

  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  background-color: #F0F1F3;
}


.grafica, .grafica-true{
  background: #FFF;
  margin-top: 10px;
  width: 100%;
  height: 290px;
 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.avisos,.avisos-true{
    display: flex;
    padding-top:10px ;
    width: 100%;
    height: 20%;
    
}
.citas, .inventario{
   width: 100%;
   margin: 5px;
   display: flex;
   background: #FFF;
   border-radius: 8px;
}
.Citas{
  display: flex;
  align-items: center;
  height: 30px;
  width: 200px;
  position: absolute;
  margin-left: 15px;
  margin-top: 10px;
  
}
.Citas a{
    color: var(--grey-grey-600, #5D6679);
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 550;
    line-height: 24px; /* 150% */
    font-family: 'Inter', sans-serif;
  
}
.inventario{
  width: 100%;
  margin: 5px;
  display: flex;
  background: #FFF;
  border-radius: 8px;
}
.citas-pendientes{
  
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;

}
a{
  font-family: 'Inter', sans-serif;
}
.linea{
  border: 1px solid #F0F1F3;
  height: 100px;
  margin-top: 30px;
}
.citas-pendientes1 {

  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;

}
.inventario-pendiente{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.inf{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0px;
}

.inf-inventario{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0px;
  border: 2px solid;
}
.citas-inf{
  color: var(--grey-grey-600, #5D6679);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
}
.citas-inf{
  text-align: center;
 
  
}
.titulos-citas{
  position: relative;
}
.inf h1{
  color: var(--grey-grey-600, #5D6679);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
}
.inf-a{
  color: var(--grey-grey-600, #5D6679);
}
.header1{
  width: 100%;
}
.tabla, .tabla-true{
    background: #FFF;
    margin-top: 10px;
    width: 100%;
    height: 290px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

@media (max-width: 800px) {
  .hola,.hola-true {
    border: none;
    width: 100%;
    padding-left: 0px;
    margin: 0px;
    flex: 0 0 1;
    background-color: #F0F1F3;
    
  }
  .hola-true{
    opacity:1.5;
    background-color:rgba(0, 0, 0, 0.742);
  }
  .grafica-true, .avisos-true, .tabla-true{
    opacity: 0.5;
   
  }
  .seccion1{
    width: 100%;
    margin: 0px;
    padding: 0px;

  }
 .grafica, .grafica-true{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    border: none;
 }

 .avisos, .avisos-true{
  display: flex;
  flex-direction: column;
  padding-top:0px ;
  border: none;
   width: 100%;
   height:27%;
 }
.citas{
    width: 100%;
    margin: 0px;
    height: 50%;
  }
  .Citas{
    display: none;
  }
  .linea{
   margin-top: 6px;
  }
.inventario{
  width: 100%;
  margin: 0px;
  margin-top: 2px;
 }
 .inf-a{
  font-size: 15px;
  font-style: normal;
  font-weight: 550;
  line-height: 10px; /* 150% */
 }



}

