.Container {
    display: flex;
}

.Main-Second {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    background-color: #F0F1F3;

}

.contenido {
    padding: 2%;
}

.h1_ajustes{
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    color: #5D6679;
    opacity: .8;
}

.h2_ajustes {
    font-size: 19px;
    font-family: Inter;
    font-weight: 500;
    color: #5D6679;
    opacity: .8;
}

.h3_ajustes {
    text-transform: uppercase;
    padding-left: 1vh;
    padding-bottom: 1vh;
    font-size: 15px;
    font-family: Inter;
    font-weight: 500;
    color: #5D6679;
    opacity: .8;
}

.seccion-contenido {
    font-family: Inter;
    margin-top: 15px;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    overflow: scroll;
}

.contenido-registrar {
    box-sizing: border-box;
    padding: 4vh;
    border-radius: 10px;
    background-color: #f7f7f7;
}

.seccion-izquierda,
.seccion-derecha {
    padding-top: 8vh;
    box-sizing: border-box;
    width: 50%;
}

.formulario-registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor-formulario {
    display: flex;
}

.Ajustes_input::placeholder {
    font-size: 15px;
}

.Ajustes_input {
    font-size: 15px;
    box-sizing: border-box;
    padding-left: 2%;
    padding-right: 2%;
    border: .1px solid #c0c0c0;
    border-radius: 10px;
    width: 80%;
    height: 35px;
}

.label_Ajustes {
    display: block;
    box-sizing: border-box;
    padding-top: 3vh;
}

.boton-registrar {
    font-size: 15px;
    font-weight: 600;
    width: 40%;
    height: 35px;
    border-radius: 15px;
    background-color: #b6b6b6;
    color: #FFFFFF;
    border: 0px solid transparent;
    cursor: pointer;

}

.boton-registrar:hover {
    background-color: #12B76A;
    box-shadow: 0px 0px 10px 1px #12B76A;
}

.alerta-incorrecta {
    box-sizing: border-box;
    padding: 1vh;
    display: flex;
    Align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 12px;
    font-weight: 100;
    width: 80%;
    height: 35px;
    border: 1px solid rgb(211, 19, 19);
    background-color: rgb(255, 204, 204);
    border-radius: 10px;
    color: rgb(211, 19, 19);
    justify-content: center;
}
.protectorOpen,.protector{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: red;
    opacity: 0.4;
    display: none;
}

@media only screen and (max-width: 800px) {


    .Main-Second {
        padding-left: 0;
    }

    .seccion-contenido {
        width: 96%;
    }

    .contenedor-formulario {
        display: flex;
        flex-direction: column;
    }

    .seccion-izquierda,
    .seccion-derecha,
    .boton-registrar {
        width: 100%;
    }
    .protector{
        display: none;
     }
     .protectorOpen{
        display: block;
         width: 100%;
         height: 100%;
         position: absolute;
         z-index: 3;
         background-color:rgba(0, 0, 0, 0.742);
         opacity: 0.4;
     }

}