@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Nunito:wght@200&display=swap');


.protectorOpen,.protector{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: red;
    opacity: 0.4;
    display: none;
}
.Envios-Button{
    cursor: pointer;
    display: inline-flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 4px;
    background: var(--primary-primary-600, #108204);
    margin-right: 10px;
    color: white;
  }
  .tablaavataresenvio{
    height: min-content;
  }
  
   @keyframes salto {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); /* Estado inicial y final */
    }
    40% {
        transform: translateY(-20px); /* Salto hacia arriba */
    }
    60% {
        transform: translateY(-10px); /* Caída después del salto */
    }
}

@media (max-width: 800px){
    .protector{
        display: none;
     }
     .protectorOpen{
        display: block;
         width: 100%;
         height: 100%;
         position: absolute;
         z-index: 3;
         background-color:rgba(0, 0, 0, 0.742);
         opacity: 0.4;
     }
}