.Proveedores-Inventario{   
    position: absolute;
    border: 2px solid;
    width: 77.7%;
    height: 18%;
    left: 21.56%;
    top: 52.5%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.Proveedores{
    display: flex;
    width:  50%;
    height: 100%;
    border: 2px solid;
    justify-content: center;
    align-items: center;
}
.Proveedores-inf{
    border: 2px solid red;
    display: flex;
    height: 50%;
    align-items: center;
    flex-direction: column ;
  
    
}
.a-prov{
    position: absolute;
    left: 10px;
    top: 2px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    margin-top: 30px;
}




.Inventario{
    width:  50%;
    height: 100%;
    border: 2px solid;
}
