@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Nunito:wght@200&display=swap');
body{
  padding: 0;
  margin: 0;
}
.Home{
    display: flex;
    width: 100vw;
}
.bar1{
    display: flex;
  }
  .hola, .hola-true{
    display: flex;
    position: relative;
    
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    background-color: #F0F1F3;
    overflow: hidden;
  }
  .inv-open, .inv{
    background: #FFF;
    margin-top: 10px;
    width: 100%;
    height: 170px;
    position: relative;
    display: flex;
    align-items: start;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .informacion{
    display: flex;
    align-items: center;
    
    width: 100%;
    
    height: 20%;
    justify-content: start;
   
  }
  .inv-inf{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
    height: 80%;
  }
 .inv-inf1, .inv-inf2{
    width: 100%;
   
    height: 100%;
    display: flex;
 }
 .Categorias, .Total-P{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; 
 }
.titulo{
    
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px; /* 150% */
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    text-align: start;
 
    width: 80%;
}
.cantidad{
  font-size: 13px;
  color: var(--grey-grey-600, #5D6679);
  font-weight: 500;
  line-height: 22px; /* 150% */
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  margin-top: 5%;
  text-align: start;
  width: 80%;
  margin-bottom: 2%;
}
.inv-titulo{
  font-size: 17px;
  margin-left: 26px;
  font-weight: 580;
  line-height: 22px; /* 150% */
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  text-align: start;
  width: 80%;
  color: var(--grey-grey-600, #5D6679);
}
.linea{
  margin-top:20px ;
  height: 70%;
  border: 1px solid #F0F1F3;
}
.Tabla-Contenedor{
  display: block;
  width: 100%;
  height: 60.5%;
  background: #FFF;
  margin-top: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.Tabla-Contenedor_Expediente{
  display: block;
  width: 100%;
  height: 80%;
  background: #FFF;
  margin-top: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.Tabla-Contenedor_Cita {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 80%;
  margin-top: 15px;
  margin-bottom: 10px;
}
.MuiButton-text{
  color: blue;
}
.Tabla{

  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  background: #FFF;
  border-radius: 8px;
  overflow: auto;
}
.Agregar{
      height: 40px;
      color: #FFF;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
        border-radius: 4px;
        background: var(--primary-primary-600, #1366D9);
}
.Agregar{
      cursor: pointer;
      border: none;
      display: inline-flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 38px;
}
.Agregar:hover{
  background: var(--primary-primary-600, #1662ce);
}
.Agregar:active{
  background: var(--primary-primary-600, #428ef8);
}
.tool{
  width: 100%;
 
  display: flex;
    justify-content: end;
}
.Descargar{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  color: var(--grey-grey-600, #d9dde6);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  border-radius: 4px;
  border: 1px solid;
  width: 100px;
  margin-right: 10px;
}

.buttonD{
  position: fixed;
  opacity: 0;
}
.filtro-boton{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  color: var(--grey-grey-600, #d9dde6);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  border-radius: 4px;
  border: 1px solid;
  margin-left: 10px;
  margin-right: 10px;
}
.filtro-boton:hover{
  background: var(--primary-primary-600, #dbe0e757);
}
.Descargar:hover{
  background: var(--primary-primary-600, #dbe0e757);
}
.filtro-boton,.Descargar {
  height: 37px;
  width: 100px;
}
.svg-b{
  margin-top: 3px;
  margin-right: 10px;
  
}
.f, .D{
  color: var(--grey-grey-600, #5D6679);
}
.boton{
  position: fixed;
  z-index: 2;
  opacity: 0;
  
  
}
.prducto-foto-inv{
  display: none;
}
.labelSubir{
  font-size: 13px;
  color: var(--grey-grey-600, #4979e0);
  font-weight: 500;
  line-height: 22px; /* 150% */
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  margin-left: 10px;

}

 @keyframes salto {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0); /* Estado inicial y final */
  }
  40% {
      transform: translateY(-20px); /* Salto hacia arriba */
  }
  60% {
      transform: translateY(-10px); /* Caída después del salto */
  }
}
.Fondo-Open{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(88, 85, 85);
  opacity: 0.5;
  z-index: 1;
}
.Fondo-Close{
  display: none;
  visibility: hidden;
  z-index: 0;
}
  @media (max-width: 800px) {
    .hola,.hola-true {
        border: none;
        width: 100%;
        padding-left: 0px;
        margin: 0px;
        flex: 0 0 1;
        background-color: #F0F1F3;
        display: block;
      }
      .hola-true{
        opacity:1.5;
        background-color:rgba(0, 0, 0, 0.742);
      }
      .Home{
        width: 100%;
        margin: 0px;
        padding: 0px;
    
      }
      .inv-inf{
        flex-direction: column;
        display: flex;
      }
      
      .Tabla-Contenedor_Cita {
        box-sizing: border-box;
        overflow: scroll;
        display: block;
      }
  }