@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Nunito:wght@200&display=swap");
body {
  padding: 0;
  margin: 0;
}
.seccion2 {
  display: flex;
  width: 100%;
}
.bar1 {
  display: flex;
}
.hola,
.hola-true {
  display: flex;
  position: relative;

  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  background-color: #f0f1f3;
}

.grafica,
.grafica-true {
  background: #fff;
  margin-top: 10px;
  width: 100%;
  height: 290px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  font-family: "Inter", sans-serif;
}
.linea {
  border: 1px solid #f0f1f3;
  height: 100px;
  margin-top: 30px;
}

.tabla,
.tabla-true {
  margin-top: 1px;
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productos1 {
  background: #fff;
  width: 90%;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  position: relative;
  top: 15px;
}
.carrito-Ventas {
  background: #fff;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 8px;
  position: relative;
  top: 115px;
  left: 85px;
}
.titulos2 {
  text-align: center;
  justify-content: center;
  display: flex;
  height: 15%;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  align-items: center;
  margin-top: 5px;
}
.titulos2 h3 {
  color: var(--grey-grey-600, #383e49);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  cursor: pointer;
  font-family: "Inter", sans-serif;
  margin-left: 15px;
}
.titulos2 h2 {
  color: var(--grey-grey-600, #383e49);
  font-family: Inter;
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  cursor: pointer;
  font-family: "Inter", sans-serif;
  margin-left: 15px;
}
.contenedor-producto {
  height: 100%;
  display: flex;
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid #f0f1f3;
}

.contenedor-producto2 {
  height: 100%;
  display: flex;
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid #f0f1f3;
}
.contenedor-tabla2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;

  border-radius: 0px 0px 8px 8px;
}

@media (max-width: 800px) {
  .hola,
  .hola-true {
    border: none;
    width: 100%;
    padding-left: 0px;
    margin: 0px;
    flex: 0 0 1;
    background-color: #f0f1f3;
  }
  .hola-true {
    opacity: 1.5;
    background-color: rgba(0, 0, 0, 0.742);
  }
  .grafica-true,
  .avisos-true,
  .tabla-true {
    opacity: 0.5;
  }
  .seccion1 {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .grafica,
  .grafica-true {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    border: none;
  }

  .linea {
    margin-top: 6px;
  }
  .inventario {
    width: 100%;
    height: 50%;
    margin: 0px;
    margin-top: 2px;
  }
  .inf-a {
    font-size: 15px;
    font-style: normal;
    font-weight: 550;
    line-height: 10px; /* 150% */
  }
}

.btn-Ventas {
  background-color: white;
  color: black;
  padding: 10px 15px;
  border-color: #d0d3d9;
  border-radius: 6px;
  cursor: pointer;
}

.btn-Eliminar {
  background-color: white;
  color: black;
  padding: 10px 15px;
  border-color: #d0d3d9;
  border-radius: 6px;
  cursor: pointer;
}

.total-Compra {
  color: var(--grey-grey-600, #5d6679);
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 550;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  background-color: transparent;
  border-style: black;
  position: relative;
  top: 300px;
  left: -600px;
}

.confirmar-Compra {
  background-color: white;
  color: black;
  padding: 10px 15px;
  border-color: #d0d3d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  top: 20px;
  left: 540px;
}

.cancelar-Compra {
  background-color: white;
  color: black;
  padding: 10px 15px;
  border-color: #d0d3d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  top: 20px;
  left: -60px;
}

#txt-Codigo {
  color: var(--grey-grey-600, #383e49);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  margin-left: 15px;
  position: relative;
  top: -10px;
  left: 10px;
}

#input-Codigo {
  border-radius: 4px;
  position: relative;
  top: -10px;
  left: 20px;
}

#txt-Total {
  color: var(--grey-grey-600, #383e49);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  margin-left: 15px;
  position: relative;
  top: -35px;
  left: 400px;
}
.Ventas-CONTAINER{

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.Button-Ventas-Confirmar{
  width: auto;
  cursor: pointer;
  display: inline-flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  margin: 0px;
  border-radius: 4px;
  background: var(--primary-primary-600, #1366D9);
  color: white;
  margin-left: 44px;
  width: 50.3%;

}